{% extends 'blog/base.html' %} 


{% block content %}
    <h2> Projects</h2>
    <ul>
        <li>Physics Based Shooting 2D Game</li>
        <li>AI algorithms project</li>
        <li>RSA Cipher</li>
        <li>Other Ciphers</li>
    </ul>
    <h2>Hackathons and CTFs</h2>
    <ul>
        <li>CSS Qiskit Hackathon November 2019</li>
        <li>HackBack 2 October 2019</li>
        <li>BAE Systems Capture The Flag January 2020</li>
        <li>MLH Local Hack Day</li>
    </ul>
    <p><a href='https://github.com/low101043'>My GitHub account</p></a>
    
    
{% endblock %}
